.button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.main {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.main_left {
  width: 50vw;
  background: white;
  height: 100%;
  min-height: 100vh;
}

.main_right {
  width: 30vw;
  min-height: 100vh;
  margin-left: 50px;
}

.blockBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.inputBox {
  width: 100%;
  padding: 5px;
}

.editor {
  resize: none;
  border: none;
  padding: 15px;
  background: blue;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: 20px;
  background: white;
  border-radius: 0px;

  outline-color: rgb(222, 222, 222);
}

.editor:focus {
  border: none;
}
