.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
}

.innerMain {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 50px 10px;
}

.gen_card {
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.tag {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 8px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  white-space: nowrap;
  display: inline;
  float: left;
}

.reset {
  background: rgba(0, 0, 80, 1);
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.keywordTable {
  min-height: 200px;
}

.questionContainer {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.question {
  width: 33%;
  max-width: 33%;
  margin: 5px 4px;
  font-size: 15px;
  background: rgba(225, 225, 225, 1);
  border-radius: 4px;
  padding: 12px;
}

.questionWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.rec_button {
  background: rgba(0, 0, 80, 1);
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: 10px 0px;
}

.char_card {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 47%;
  min-height: 200px;
  padding: 12px;
}

.listInner {
  flex-direction: row;
  padding: 8px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
