.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47%;
  margin: 10px 0px;
}

.sectionLabel {
  width: 70%;
  text-align: left;
  margin-bottom: 5px;
}

.section {
  border-radius: 4px;
  width: 100%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  outline: none;
  resize: none;
  min-height: 160px;
}

.flexRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
